attrs==19.3.0
certifi==2019.11.28
chardet==3.0.4
idna==2.9
importlib-metadata==1.5.0
jsonschema==3.2.0
more-itertools==8.2.0
packaging==20.1
pluggy==0.13.1
py==1.8.1
pyjq==2.4.0
pynetbox==4.2.5
pyparsing==2.4.6
pyrsistent==0.15.7
pytest==5.3.5
pytest-mock==2.0.0
PyYAML==5.3
requests==2.23.0
six==1.14.0
urllib3==1.25.8
wcwidth==0.1.8
zipp==1.2.0
