attrs==19.1.0
certifi==2019.9.11
chardet==3.0.4
idna==2.8
jsonschema==3.0.2
lark-parser==0.7.5
pyaml==19.4.1
pynetbox==4.0.7
pyrsistent==0.15.4
PyYAML==5.1.2
requests==2.22.0
six==1.12.0
urllib3==1.25.5
